@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn{
  to {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.main_card {
  display: flex;
  flex-direction: column;
  min-height: 96vh;
  height: fit-content;
  width: 96vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: 2px solid var(--base);
  border-radius: 40px;
  background-color: var(--background-color);
  align-items: center;
}

.title_box {
  display: flex;
  align-items: center;
  margin: 10px 0;
  user-select: none;
}

.title_box h1 img {
  position: relative;
  height: 60px;
  margin-left: -3px;
  margin-right: -28px;
  z-index: 2;
  transition: transform 0.3s ease;
}


@keyframes fall {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(15px, -51px) rotate(20deg);
  }
  4% {
    transform: translate(30px, -84px) rotate(-20deg);
  }
  6% {
    transform: translate(40px, -96px) rotate(0deg);
  }
  8% {
    transform: translate(50px, -100px) rotate(10deg);
  }
  10% {
    transform: translate(60px, -96px) rotate(20deg);
  }
  14% {
    transform: translate(70px, -84px) rotate(10deg);
  }
  17% {
    transform: translate(85px, -51px) rotate(0);
  }
  20% {
    transform: translate(100px, 0px) rotate(-20deg);
    opacity: 0.99;
  }
  30% {
    transform: translate(300px, 1400px) rotate(20deg);
    opacity: 0;
    scale: 0.99;
  }
  50% {
    transform: translate(400px, 5000px) rotate(-40deg);
  }
  60% {
    transform: translate(500px, 8000px);
  }
  70% {
    opacity: 0;
    scale: 0;
    transform: translate(0) rotate(0);
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  85% {
    transform: rotate(-6deg);
  }
  90% {
    transform: rotate(6deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(0deg);
  }
}

.peach_falls {
  animation: fall 2s linear forwards;
}

.title_box h1 .wobble:hover {
  animation: wobble 1.2s ease-in-out infinite;
}

.title_box h1 {
  font-family: "Lilita One", sans-serif;
  color: var(--secondary-color);
  font-size: 65pt;
  padding-top: 20px;
  z-index: 1;
  cursor: default;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  grid-template-rows: auto;
  margin: 0 10vw;
  margin-bottom: 10vh;
  gap: 40px;
  height: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 30px;
  background-color: var(--primary-color30);
  margin: 2vh 0;
  padding: 1vh 2vw;
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: scale(1.02);
}

.card h1 {
  font-family: "Lilita One", sans-serif;
  color: var(--text-dark);
  text-align: center;
  margin: 20px;
}

.card p {
  font-size: 18pt;
  text-align: justify;
  margin: 0 25px;
  color: var(--text-dark);
}

.card p li {
  margin-left: 20pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
}

.start_card {
  grid-column: 3;
  grid-row: 2;
  background-color: var(--primary-color60);
}

.start_card .btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px;
  height: 100%;
}

.slogan_card {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.slogan_card h1 {
  text-align: justify;
  padding-left: 20px;
  font-size: 40pt;
}

.slogan_card p {
  padding-left: 40px;
  font-family: "Leckerli One", cursive;
}

.about_card {
  grid-column: 1 / span 3;
  background-color: var(--secondary-color30);
}

.features {
  grid-column: 1 / span 3;
  background-color: var(--primary-color40);
  display: flex;
  flex-direction: row;
}

.features .features_slogan h1 {
  text-align: center;
}

.features .features_slogan p {
  text-align: justify;
  font-size: 20pt;
  padding-right: 40px;
}

.features .features_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;
  margin-left: auto;
  margin-right: 30px;
}

.features .features_list li {
  text-align: justify;
  font-size: 16pt;
  list-style: none;
  margin: 10px 0;
}

.features .features_list li b {
  color: var(--accent-blue);
}

.meta {
  grid-column: span 3;
  background-color: var(--background-color110);
}

.meta h2 {
  margin-bottom: 10px;
}

.meta div {
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
}

.meta div li {
  list-style: none;
  padding: 5px 10px;
}

.meta div li a {
  text-decoration: none;
  color: var(--text-dark60);
  transition: all 0.3s ease;
}

.meta div li a:hover {
  color: var(--text-dark40)
}

.meta div p {
  font-size: 20pt;
  margin: 5px;
}

.meta p {
  font-size: 14pt;
  margin: 5px 0;
  padding-left: 5%;
  user-select: none;
}

.meta h5 {
  margin: 5px 0;
  padding-left: 5%;
  user-select: none;
}
