@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn{
  to {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.main_card {
  display: flex;
  flex-direction: column;
  min-height: 96vh;
  height: fit-content;
  width: 96vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: 2px solid var(--base);
  border-radius: 40px;
  background-color: var(--background-color);
  align-items: center;
}

.title_box {
  display: flex;
  align-items: center;
  margin: 10px 0;
  user-select: none;
}

.title_box h1 img {
  position: relative;
  height: 60px;
  margin-left: -3px;
  margin-right: -28px;
  z-index: 2;
  transition: transform 0.3s ease;
}

.title_box h1 img:hover {
  animation: wobble 1.2s ease-in-out infinite;
}

.title_box h1 {
  font-family: "Lilita One", sans-serif;
  color: var(--secondary-color);
  font-size: 65pt;
  padding-top: 20px;
  z-index: 1;
  cursor: default;
}


.option_bar {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color70);
  width: 610px;
  border-radius: 15px;
  align-items: center;
  position: relative;
}

.option_bar p {
  font-size: 24pt;
  font-family: "Lilita One", sans-serif;
  padding-bottom: 5px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.option_bar .title {
  transform: translateX(-50px); /* Start off-screen to the left */
  animation: fadeIn 0.5s ease forwards; /* 'forwards' keeps final state */
  color: var(--text-light)
}


.option_bar .signin_button,
.option_bar .signup_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark60);
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: var(--secondary-color70);
  transition:
    color 0.3s ease,
    background 1s ease;
  z-index: 2;
  opacity: 0;
}

.option_bar .signin_button {
  margin-left: auto;
  transform: translateX(-50px); /* Start off-screen to the left */
  animation: fadeIn 0.5s ease forwards; /* 'forwards' keeps final state */
}

.option_bar .signup_button {
  transform: translateX(50px); /* Start off-screen to the left */
  animation: fadeIn 0.5s ease forwards; /* 'forwards' keeps final state */
}

.option_bar .signin_button p,
.option_bar .signup_button p {
  font-size: 14pt;
  font-family: "Funnel Display", sans-serif;
  padding-bottom: 3px;
  position: static;
}

.option_bar .signin_button:hover {
  color: var(--text-dark80);
  background: linear-gradient(
    to left,
    var(--secondary-color50),
    var(--secondary-color70)
  );
}

.option_bar .signup_button:hover {
  color: var(--text-dark80);
  background: linear-gradient(
    to right,
    var(--secondary-color50),
    var(--secondary-color70)
  );
}
