@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}
.signin_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  border-radius: 30px;
  background-color: var(--primary-color60);
  margin: 1vh 0;
  padding: 1vh 2vw;
  width: 610px;
  opacity: 0;
  transform: translateX(-50px); /* Start off-screen to the left */
  animation: fadeIn 0.5s ease forwards; /* 'forwards' keeps final state */
}

.signin_card h1 {
  font-family: "Lilita One", sans-serif;
  color: var(--text-dark);
  text-align: center;
  margin: 20px;
}

.signin_card p {
  font-size: 18pt;
  text-align: justify;
  margin: 0 25px;
  color: var(--text-dark);
}

.signin_card form {
  font-family: "Funnel Display", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 250px;
}

.signin_card form input {
  font-family: "Funnel Display", sans-serif;
  width: 60%;
  height: 40px;
  border: none;
  background-color: var(--secondary-color40);
  font-size: 14pt;
  text-align: center;
  border-radius: 7px;
  padding: 0px 5px 0px 5px;
  margin-top: 40px;
  transition:
    border-block-end 0.2s ease,
    box-shadow 0.2s ease;
}

.signin_card form input:focus {
  outline: none;
  box-shadow: 0px 0px 30px 3px var(--secondary-color50);
  border-block-end: 2px solid var(--accent-blue);
}

.signin_card form .error {
  color: var(--accent-red);
  width: 60%;
  height: 20px;
  text-align: right;
  padding-right: 3px;
}

.signin_card form button {
  font-size: 70pt;
  margin-bottom: -10px;
  border: none;
  background: none;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.signin_card form button .leaf {
  color: var(--accent-green);
}

.signin_card form button .wobble {
  animation: wobble 1.2s ease-in-out infinite;
}

.server_error {
  position: absolute;
  top: 0;
}

.server_error p {
  font-size: 18px;
  color: var(--accent-red);
}
