.table_container {
  height: fit-content;
  max-height: 100%;
  width: 320px;
  background-color: var(--primary-color40);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  flex-shrink: 0;
}

.table_container:hover {
  transform: scale(1.01);
}

.table_title_container {
  width: calc(100% - 10px);
  min-height: 45px;
  height: 45px;
  padding: 5px 25px;
  margin: 0 5px;
  text-align: center;
  font-size: 20pt;
  color: var(--text-dark60);
  border-bottom: 1px solid var(--text-dark70);
}

.task_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px 5px 15px 5px;
  overflow-y: scroll;
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: var(--accent-green120) rgba(0, 0, 0, 0);
  gap: 3px;
}

.empty_message {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty_message p {
  text-align: center;
  color: var(--text-dark40);
  user-select: none;
}
