@keyframes popOut {
  from {
    height: 0;
  }
  to {
    height: 45px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-100%); /* End at original position */
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.window_container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 10;
  opacity: 0;
  animation: fade 0.2s ease-in-out forwards;
}

.back_area {
  position: absolute;
  height: 100%;
  width: 100%;
}

.window {
  height: 80%;
  width: 60%;
  border-radius: 20px;
  background-color: var(--primary-color10);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  gap: 10px;
  transform: translateY(100%);
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.window_closing {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.3s ease-in-out forwards;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  margin: 5px;
  width: fit-content;
  height: fit-content;
  padding: 0 9px;
  border: none;
  background: none;
  color: var(--accent-red70);
  cursor: pointer;
  z-index: 100;
}


.close_button:hover {
  color: var(--accent-red);
}

.close_button:active {
  color: var(--accent-red70);
}


@keyframes slide{
  to {
    transform: translateY(0);
  }
}

.message {
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 1000;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.error, .success{
  height: 100%;
  width: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100px);
  opacity: 1;
  animation: slide 0.3s ease forwards;
  transition: opacity 0.3s ease;
}

.error {
  background: var(--accent-red);
}

.success {
  background: var(--accent-green);
}

.disappear {
  opacity: 0;
}

.message p{
  text-wrap: stable;
  color: var(--text-light);
  text-align: center;
  font-size: 16px;
}
